.select {
	margin:5px 0px 5px 0px;
	height:30px;
	width:200px;
}

input:focus {
  background-color:yellow;
}

#image {
	border-style:solid;
	border-width:2px;
	border-color:#f2f2f2;
	border-radius:3px;
}

#chooseImageDiv {
	margin-top:10px;
}

#label17{
	margin-top:4px;
}

.control-label {
	margin-top:6px;
}

.attrRow, .imageRow{
	margin-top:10px;
}

#skuButton {
	margin-top:30px;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:12px; 
	padding-right:12px;
}

ul.inline {
	display:inline;
}

#divFormProduct.disabled{
	opacity:0.5;
}

#divFormProduct.enabled{
	opacity:1;
}

#prodCanvas {
	border:1px solid #d3d3d3;
}

#catCanvas {
	border:1px solid #d3d3d3;
}

ul#pImages{
    list-style-type:none;
    white-space:nowrap;
    overflow-x:auto;
}

li{
    display:inline;
}

label.control-label{
	padding:5px 0px 0px 0px;
}

label.type2{
	padding:0px 0px 0px 16px;
}

.type{
	margin:5px -15px 5px -15px;
}

.type3{
	padding:5px 0px 0px 10px;
}

.type4{
	padding:5px 0px 0px 15px;
}

