<!DOCTYPE html>
<html>

<head id="base_head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <link rel="stylesheet" 
    		href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" 
    		href="/static/css/Navigation-with-Button1.css">
    <link rel="stylesheet" 
    		href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/Footer-Basic.css">
</head>
{% block content %} {% endblock %}
</html>